//- --------------------------------------------------------------------------------------------------------------------
//- Anki-Cards | Copyright (C) 2018 eth-p
//- --------------------------------------------------------------------------------------------------------------------
include ../Template
+card
	div.paragraph
		ac-question
			span.term= field('Term')
			span &nbsp;is&nbsp;

		ac-answer
			span.definition
				= field('Definition')
				| .

	ac-details
		+if-field-exists('Details')
			+details('Details').small
				div.details= field('Details')

