//- --------------------------------------------------------------------------------------------------------------------
//- Anki-Cards | Copyright (C) 2018 eth-p
//- --------------------------------------------------------------------------------------------------------------------
include ../Template
+card
	p
		ac-question
			span.term= field('Term')
			span &nbsp;is&nbsp;
		ac-answer
			span.definition
				= field('Definition')
				| .
