//- --------------------------------------------------------------------------------------------------------------------
//- Anki-Cards | Copyright (C) 2018 eth-p
//- --------------------------------------------------------------------------------------------------------------------
include ../Template
+card
	ac-question
		span.term= field('Term')
		span &nbsp;is&nbsp;

	ac-answer
		span.definition
			ac-placeholder
			| .
