//- --------------------------------------------------------------------------------------------------------------------
//- Anki-Cards | Copyright (C) 2018 eth-p
//- --------------------------------------------------------------------------------------------------------------------
include ../Template
+card
	+if-field-exists('Reversed')
		div.paragraph
			ac-answer
				span.term= field('Term')
				span &nbsp;is&nbsp;

			ac-question
				span.definition
					= field('Definition')
					| .

		ac-details
			+if-field-exists('Details')
				+details('Details').small
					div.details= field('Details')
