//- --------------------------------------------------------------------------------------------------------------------
//- Anki-Cards | Copyright (C) 2018 eth-p
//- --------------------------------------------------------------------------------------------------------------------
include ../Template
+card
	+if-field-exists('Reversed')
		ac-answer
			span.term
				ac-placeholder
			span &nbsp;is&nbsp;

		ac-question
			span.definition
				= field('Definition')
				| .
