//- --------------------------------------------------------------------------------------------------------------------
//- Anki-Cards | Copyright (C) 2018 eth-p
//- --------------------------------------------------------------------------------------------------------------------
include ../Template
+Card
	p
		ac-question
			span.term {{Term}}
			span &nbsp;is&nbsp;
		ac-answer
			ac-placeholder
