# ----------------------------------------------------------------------------------------------------------------------
# Anki-Cards | Copyright (C) 2018 Ethan Pini
# ----------------------------------------------------------------------------------------------------------------------
# Mac OS
._.*
.DS_Store

# ----------------------------------------------------------------------------------------------------------------------
# IntelliJ IDEA
.idea

# ----------------------------------------------------------------------------------------------------------------------
# VIM
.*.swp

# ----------------------------------------------------------------------------------------------------------------------
# Build
/node_modules
/Release
*.css
*.css.map
*.html
*.html.map
