//- --------------------------------------------------------------------------------------------------------------------
//- Anki-Cards | Copyright (C) 2018 eth-p
//- --------------------------------------------------------------------------------------------------------------------
mixin Card
	header
		layout-columns
			layout-column.deck {{Deck}}
			layout-column.type {{Type}}
	main
		block
