//- --------------------------------------------------------------------------------------------------------------------
//- Anki-Cards | Copyright (C) 2018 eth-p
//- --------------------------------------------------------------------------------------------------------------------
include ../Template
+card
	div.paragraph= field('Back')

	ac-details
		+if-field-exists('Back Details')
			+details('Details').small
				div.details= field('Back Details')