//- --------------------------------------------------------------------------------------------------------------------
//- Anki-Cards | Copyright (C) 2018 eth-p
//- --------------------------------------------------------------------------------------------------------------------
include ../Template
+card({header: '{{#From Language}}{{#To Language}}{{From Language}} --> {{To Language}}{{/To Language}}{{/From Language}}'})
	ac-question
		div.paragraph.definition= field('Definition')

	hr
	h2
		+if-field-exists('To Language')
			= field('To Language') + ':'
		+if-field-empty('To Language')
			| To:

	ac-answer
		div.paragraph.translation
			+placeholder

