//- --------------------------------------------------------------------------------------------------------------------
//- Anki-Cards | Copyright (C) 2018 eth-p
//- --------------------------------------------------------------------------------------------------------------------
include ../Template
+card
	ac-question
		p
			span.question= field('Question')

	ac-answer
		h1 Answer:
		span= field('Correct')
