//- --------------------------------------------------------------------------------------------------------------------
//- Anki-Cards | Copyright (C) 2018 eth-p
//- --------------------------------------------------------------------------------------------------------------------
include ../Template
+card
	ac-question
		div.paragraph.question= field('Question')

	ac-answer
		hr
		h2 Answer:
		div.paragraph.answer= field('Correct')

	ac-details
		+if-field-exists('Explanation')
			+details('Explanation').small
				div.explanation= field('Explanation')


