//- --------------------------------------------------------------------------------------------------------------------
//- Anki-Cards | Copyright (C) 2018 eth-p
//- --------------------------------------------------------------------------------------------------------------------
include ../Template
+card
	ac-answer
		div.paragraph= field('Fact')

	ac-details
		+if-field-exists('Explanation')
			+details('Explanation')
				div.explanation= field('Explanation')
